
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("hintergrundbild.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

header {
  color: white;
  padding: 20px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 20px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.ship-container {
  position: relative;
  animation: move-ship 10s infinite linear;
}

@keyframes move-ship {
  0% {
    left: -200px;
  }
  100% {
    left: calc(100% + 200px);
  }
}

img {
  position: absolute;
  width: 200px;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: right;
  color: #fff;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#grafik{
  width: 60%;
  position: absolute;
  height: auto;
  margin-left: 20%;
  
}
